.home-container {
    height: 100%;
    display: flex;
    user-select: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-drawer-toggle {
    position: absolute;
    left: 0;
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
    transition: left 0.3s ease;
}

.home-drawer-toggle.open {
    left: 25%;
}

.home-drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #9f9f9f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.home-drawer.open {
    transform: translateX(0);
}
