.dialog-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    background-color: #c7c7c7;
    z-index: 999;
}

.dialog-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.45);
}
